<div class="container">

    <h1>Soy un mapa básico</h1>

    <div id="myMap"></div>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

</div>

<script src="/js/mapStyles.js"></script>
<script src="/js/map-setup.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=_____PEGA_AQUI_TU_API_KEY_____&callback=renderMap"></script>